
/* Profile */

.upl-btn{

    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

#avatar{

    margin: 10px;
  
}

#imgFile:hover{

    cursor: pointer;
}



  /* Bar Chart */

.graph_container{
    display:block;
    width:600px;
    margin: 100px auto;
  }